<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.wit.a20076447.amiibodatabase">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mario_art"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mario_icon_new"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:logo="@mipmap/ic_launcher"
            android:theme="@style/AppActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchScreen" />
        <activity android:name=".AmiiboListActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".InfoListView" />
        <activity android:name=".MyAmiiboList"></activity>
    </application>

</manifest>